<li class="list-group-item">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <%= task.name %> || <%= task.status %> || <%= task.priority %> || <%= task.deadline %>
      </div>
      <div class="col-sm-1">
        <%= link_to 'Up', project_task_up_path(project_id: task.project.id, id: task.id), method: :put %>        
        <%= link_to 'Down', project_task_down_path(project_id: task.project.id, id: task.id), method: :put %>        
      </div>
      <div class="col-sm-2">
        <%= link_to 'Done', project_task_done_path(project_id: task.project.id, id: task.id), method: :put, data: { confirm: 'Mark this task as done?' } %>
        <%= link_to 'UnDone', project_task_inprocess_path(project_id: task.project.id, id: task.id), method: :put, data: { confirm: 'Mark this task as in_process?' } %> |
        <%= link_to 'Edit', edit_project_task_path(project_id: task.project.id, id: task.id) %>
        <%= link_to 'Destroy', project_task_path(project_id: task.project.id, id: task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</li>