<!-- project card -->
<div class="card" style="width: 90%;" id="project_<%= project.id %>" >
  <div class="card-body">
    <h5 class="card-title">
      <div class="row">
        <div class="col-md">
          <%= project.name %><%= project.inspect %>
        </div>
        <div class="col-sm-2">
          <% if current_user and current_user.id == project.user_id %>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editProject_<%= project.id %>">
              Edit project
            </button>
            <%= link_to 'Destroy', project, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </h5>
    <ul class="list-group">
      <% if current_user and current_user.id == project.user_id %>
        <%= render 'tasks/form', project: project, task: Task.new %>
      <% end %>
      <div id="tasks">
        <%= render partial: 'tasks/task', collection: project.tasks.order(priority: :desc) %>
      </div>
    </ul>
  </div>
</div>
<br/>

<% if current_user and current_user.id == project.user_id %>
  <!-- modal form for project ajax updating -->
  <div class="modal fade" id="editProject_<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%= form_with model: project, method: :put, remote: true do |f| %>
          <div class="modal-body">
            <%= f.text_area :name, label: "Tape project name here", class: "form-control project_name" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Save', class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
<% end %>