<div class="card" style="width: 90%;">
  <div class="card-body">
    <h5 class="card-title">
      <%= project.name %>
      <%= link_to 'Show', project %>
      <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </h5>
    <ul class="list-group">
      <% project.tasks.each do |task| %>
        <%= render 'tasks/task', task: task %>
      <% end %>
    </ul>
  </div>
</div>
<br/>